// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin background-tile {
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 6px #ccc;
    padding: 1.5em 1.25em;
}

.book {
    height: 350px;
    width: 250px;
    margin-bottom: 40px;
    @include background-tile;
}

.book-show {
    height: 475px;
    width: 325px;
    @include background-tile;
}

.book-info {
    @include background-tile;

    .book-title {
        margin-top: 0;
        font-size: 2em;
    }

    .avg-rating {
        font-size: 1.5em;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .number-of-reviews {
        font-size: 0.85em;
        font-style: italic;
    }

    .book-author {
        font-size: 1.5em;
        margin-top: 10px;
        margin-bottom: 10px;
        span {
            font-size: 0.80em;
        }   
    }

    .book-desc {
        font-size: 1.05em;
        line-height: 1.5;
        margin-bottom: 15px;
        margin-top: 15px;
    }

}